<header>
      <a href="#/" class="header-button header-button-left"><button>Close</button></a>
      <h1>About</h1>
  </header>
  <div class="scroll striped">
      <section>
          <div class="grouped-tableview cf">
              <span id="y-icon"></span>
              <p id="app-desc"><strong>AHackerWeb</strong><br>A simply readable Hacker News web app.</p>
              <p id="app-desc">AngularJS refactoring of <b>HackerWeb</b>, an HTML5 application developped by Cheeaun</p>
          </div>
          <ul class="grouped-tableview grouped-tableview-links">
              <li><a href="http://hackerwebapp.com/" target="_blank" class="disclosure">HackerWeb homepage</a></li>
              <li><a href="https://news.ycombinator.com/" target="_blank" class="disclosure">Hacker News homepage</a></li>
              <li><a href="http://ycombinator.com/newsfaq.html" target="_blank" class="disclosure">Hacker News FAQ</a></li>
              <li><a href="https://github.com/cheeaun/hackerweb" target="_blank" class="disclosure">HackerWeb on GitHub</a></li>
              <li><a href="https://github.com/guillaumebiton/ahackerweb" target="_blank" class="disclosure">AHackerWeb on GitHub</a></li>
              <li><a href="https://twitter.com/cheeaun" target="_blank" class="disclosure">Follow @cheeaun</a></li>
              <li><a href="https://twitter.com/guillaumebiton" target="_blank" class="disclosure">Follow @guillaumebiton</a></li>
              <li><a href="https://www.gittip.com/cheeaun/" target="_blank" class="disclosure">Gittip @cheeaun</a></li>
              <li><a href="https://www.gittip.com/guillaumebiton/" target="_blank" class="disclosure">Gittip @guillaumebiton</a></li>
              <li><a href="https://github.com/GuillaumeBiton/ahackerweb/issues/new" class="disclosure">Send Feedback</a></li>
          </ul>
          <ul class="grouped-tableview grouped-tableview-links">
              <li><a href="" target="_blank" class="disclosure" ng-click="changeTheme()">Change Theme</a></li>
          </ul>
          <p class="foot-label">Rewritten by <u>Guillaume Biton</u>.</p>
          <p class="foot-label">Original Built by <u>Lim Chee Aun</u>.<br>Not affiliated with Hacker News or YCombinator.</p>
      </section>
  </div>